node_modules

.varlet
.idea
.vscode
.history
*.log
.DS_Store
*.vsix
index.draft.vue
*.draft.md
package-lock.json

packages/varlet-uni-app/site
packages/varlet-uni-app/lib
packages/varlet-uni-app/es
packages/varlet-uni-app/umd
packages/varlet-uni-app/coverage
packages/varlet-uni-app/highlight
packages/varlet-uni-app/public/icons

packages/varlet-shared/lib
packages/varlet-use/lib

.eslintcache
.stylelintcache
